.appDiv {
  text-align: center;
}

form {
  background-color: deepskyblue;
  display: inline-block;
  padding: 20px;
}
form div {
  margin: 15px;
}
form label {
  display: inline-block;
  width: 100px;
}
.profilePicPreview {
  width: 150px;
  height: 150px;
}
